.correct{

    float:right;
    font-size: 25px;
    color: #17a2b8;
    margin-left: -25px;

}

.incorrect{

    
    float:right;
    font-size: 25px;
    color: #da2d2d;
    margin-left: -25px;

}

